USE [master]
GO
/****** Object:  Database [SNP1]    Script Date: 12/02/2026 04:41:45 PM ******/
CREATE DATABASE [SNP1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SNP1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SNP1.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SNP1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SNP1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SNP1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SNP1]
GO
/****** Object:  User [snp]    Script Date: 12/02/2026 04:41:45 PM ******/
CREATE USER [snp] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ProductionApp]    Script Date: 12/02/2026 04:41:45 PM ******/
CREATE USER [ProductionApp] FOR LOGIN [PANCENTURY\SNP5SUPERVISOR] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FullAdminLogin]    Script Date: 12/02/2026 04:41:45 PM ******/
CREATE USER [FullAdminLogin] FOR LOGIN [FullAdminLogin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [admin]    Script Date: 12/02/2026 04:41:45 PM ******/
CREATE USER [admin] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[machine_location]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[machine_location](
	[machine] [nvarchar](50) NOT NULL,
	[pc_ip] [nvarchar](15) NOT NULL,
	[weigher_ip] [nvarchar](15) NOT NULL,
	[metal_detector_ip] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[machine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[main_logging]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[main_logging](
	[log_id] [int] NOT NULL,
	[production_id] [int] NOT NULL,
	[wc_timestamp] [datetime] NOT NULL,
	[weight] [int] NOT NULL,
	[status] [int] NOT NULL,
	[metal_status] [int] NULL,
	[metal_value] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC,
	[production_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_bag_batch]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_bag_batch](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_number] [nvarchar](50) NOT NULL,
	[is_active] [bit] NULL,
	[created_date] [datetime] NULL,
	[created_by] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_bag_suppliers]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_bag_suppliers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_name] [nvarchar](100) NOT NULL,
	[is_active] [bit] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_bag_weights]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_bag_weights](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[weight_value] [decimal](8, 6) NOT NULL,
	[description] [nvarchar](100) NULL,
	[is_active] [bit] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[weight_value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_buyers]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_buyers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[buyer_name] [nvarchar](100) NOT NULL,
	[is_active] [bit] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_contracts]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_contracts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[contract_code] [nvarchar](50) NOT NULL,
	[is_active] [bit] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[contract_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_lot_numbers]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_lot_numbers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lot_number] [nvarchar](50) NOT NULL,
	[is_active] [bit] NULL,
	[created_date] [datetime] NULL,
	[created_by] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[lot_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_net_weights]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_net_weights](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[weight_value] [int] NOT NULL,
	[description] [nvarchar](100) NULL,
	[is_active] [bit] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_over_limits]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_over_limits](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[limit_value] [int] NOT NULL,
	[description] [nvarchar](100) NULL,
	[is_active] [bit] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_packing_types]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_packing_types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[packing_name] [nvarchar](100) NOT NULL,
	[is_active] [bit] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_products]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](100) NOT NULL,
	[is_active] [bit] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_quantities]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_quantities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[quantity_value] [int] NOT NULL,
	[description] [nvarchar](100) NULL,
	[is_active] [bit] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[quantity_value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_shifts]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_shifts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[shift_code] [nvarchar](20) NOT NULL,
	[shift_name] [nvarchar](50) NULL,
	[is_active] [bit] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[shift_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_tanks]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_tanks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tank_code] [nvarchar](50) NOT NULL,
	[is_active] [bit] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[tank_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_under_limits]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_under_limits](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[limit_value] [int] NOT NULL,
	[description] [nvarchar](100) NULL,
	[is_active] [bit] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production_session]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production_session](
	[production_id] [int] NOT NULL,
	[shift] [varchar](50) NULL,
	[lot_no] [nvarchar](15) NOT NULL,
	[product] [nvarchar](50) NOT NULL,
	[buyer] [nvarchar](50) NOT NULL,
	[contract] [nvarchar](15) NOT NULL,
	[tank] [nvarchar](15) NOT NULL,
	[bag_supplier] [nvarchar](15) NOT NULL,
	[bag_weight] [decimal](10, 6) NOT NULL,
	[bag_batch_no] [nvarchar](15) NOT NULL,
	[net_weight] [int] NOT NULL,
	[type_of_packing] [nvarchar](15) NOT NULL,
	[quantity_per_bag] [int] NOT NULL,
	[over_limit] [int] NOT NULL,
	[under_limit] [int] NOT NULL,
	[create_date] [datetime] NOT NULL,
	[create_by_user] [char](10) NOT NULL,
	[machine] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[username] [nvarchar](50) NOT NULL,
	[password] [nchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[master_bag_batch] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[master_bag_batch] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[master_bag_suppliers] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[master_bag_suppliers] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[master_bag_weights] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[master_bag_weights] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[master_buyers] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[master_buyers] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[master_contracts] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[master_contracts] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[master_lot_numbers] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[master_lot_numbers] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[master_net_weights] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[master_net_weights] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[master_over_limits] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[master_over_limits] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[master_packing_types] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[master_packing_types] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[master_products] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[master_products] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[master_quantities] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[master_quantities] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[master_shifts] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[master_shifts] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[master_tanks] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[master_tanks] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[master_under_limits] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[master_under_limits] ADD  DEFAULT (getdate()) FOR [created_date]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllMachines]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Get All Machines
CREATE PROCEDURE [dbo].[sp_GetAllMachines]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT machine FROM machine_location ORDER BY machine;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCurrentSessionReadingCount]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetCurrentSessionReadingCount]
    @ProductionId INT,
    @Machine NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT COUNT(*) 
    FROM main_logging 
    WHERE production_id = @ProductionId 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLastProductionId]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetLastProductionId]
    @Machine NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT MAX(production_id) 
    FROM production_session 
    WHERE machine = @Machine;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetMachineByIP]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetMachineByIP]
    @PC_IP NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT machine, weigher_ip, metal_detector_ip 
    FROM machine_location 
    WHERE pc_ip = @PC_IP;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetNextLogId]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6. Get Next Log ID
CREATE PROCEDURE [dbo].[sp_GetNextLogId]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ISNULL(MAX(log_id), 0) + 1 FROM main_logging;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetNextProductionId]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Get Next Production ID
CREATE PROCEDURE [dbo].[sp_GetNextProductionId]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT ISNULL(MAX(production_id), 0) + 1 FROM production_session;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductionIdByLot]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Get Production ID by Lot Number
CREATE PROCEDURE [dbo].[sp_GetProductionIdByLot]
    @LotNo NVARCHAR(50),
    @Machine NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT production_id FROM production_session WHERE lot_no = @LotNo AND machine = @Machine;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductionReport]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetProductionReport]
    @Machine NVARCHAR(50) = NULL,
    @StartDate NVARCHAR(10) = NULL,
    @EndDate NVARCHAR(10) = NULL,
    @LotNo NVARCHAR(50) = NULL,
    @BatchNo NVARCHAR(50) = NULL,
    @ReportType NVARCHAR(20) = 'detailed'
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @ReportType = 'detailed'
    BEGIN
        SELECT DISTINCT  -- ADD DISTINCT HERE to remove duplicates
            ml.log_id,
            ml.production_id,
            ml.wc_timestamp,
            ml.weight,
            ml.status,
            ml.metal_status,
            ps.lot_no,
            ps.product,
            ps.shift,
            ps.bag_batch_no,
            ps.net_weight,
            ps.under_limit,
            ps.over_limit,
            ps.machine
        FROM main_logging ml
        LEFT JOIN production_session ps ON ml.production_id = ps.production_id
        WHERE (@Machine IS NULL OR @Machine = '' OR ps.machine = @Machine)
          AND (@StartDate IS NULL OR @StartDate = '' OR CONVERT(date, ml.wc_timestamp) >= @StartDate)
          AND (@EndDate IS NULL OR @EndDate = '' OR CONVERT(date, ml.wc_timestamp) <= @EndDate)
          AND (@LotNo IS NULL OR @LotNo = '' OR ps.lot_no LIKE '%' + @LotNo + '%')
          AND (@BatchNo IS NULL OR @BatchNo = '' OR ps.bag_batch_no LIKE '%' + @BatchNo + '%')
        ORDER BY ml.wc_timestamp DESC;
    END
    ELSE
    BEGIN
        -- Summary report doesn't need DISTINCT since it uses GROUP BY
        SELECT 
            ml.production_id,
            ps.machine,
            ps.lot_no,
            ps.product,
            ps.shift,
            ps.bag_batch_no,
            MIN(ml.wc_timestamp) as first_reading,
            MAX(ml.wc_timestamp) as last_reading,
            COUNT(ml.log_id) as total_readings,
            SUM(CASE WHEN ml.status = 1 AND (ml.metal_status = 0 OR ml.metal_status IS NULL) THEN 1 ELSE 0 END) as pass_count,
            SUM(CASE WHEN ml.status = 0 THEN 1 ELSE 0 END) as under_limit_fail_count,
            SUM(CASE WHEN ml.status = 2 THEN 1 ELSE 0 END) as over_limit_fail_count,
            SUM(CASE WHEN ml.metal_status = 1 THEN 1 ELSE 0 END) as metal_fail_count,
            CASE 
                WHEN COUNT(ml.log_id) > 0 THEN 
                    ROUND(SUM(CASE WHEN ml.status = 1 AND (ml.metal_status = 0 OR ml.metal_status IS NULL) THEN 1 ELSE 0 END) * 100.0 / COUNT(ml.log_id), 2)
                ELSE 0 
            END as pass_rate,
            MIN(ml.weight) as min_weight,
            MAX(ml.weight) as max_weight,
            AVG(CAST(ml.weight as float)) as avg_weight
        FROM main_logging ml
        LEFT JOIN production_session ps ON ml.production_id = ps.production_id
        WHERE (@Machine IS NULL OR @Machine = '' OR ps.machine = @Machine)
          AND (@StartDate IS NULL OR @StartDate = '' OR CONVERT(date, ml.wc_timestamp) >= @StartDate)
          AND (@EndDate IS NULL OR @EndDate = '' OR CONVERT(date, ml.wc_timestamp) <= @EndDate)
          AND (@LotNo IS NULL OR @LotNo = '' OR ps.lot_no LIKE '%' + @LotNo + '%')
          AND (@BatchNo IS NULL OR @BatchNo = '' OR ps.bag_batch_no LIKE '%' + @BatchNo + '%')
        GROUP BY 
            ml.production_id,
            ps.machine,
            ps.lot_no,
            ps.product,
            ps.shift,
            ps.bag_batch_no
        ORDER BY first_reading DESC;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRecentSessionReadings]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetRecentSessionReadings]
    @ProductionId INT,
    @Machine NVARCHAR(50),
    @TopCount INT = 1000
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP (@TopCount) 
        wc_timestamp, 
        weight, 
        status,
        metal_status
    FROM main_logging 
    WHERE production_id = @ProductionId 
    ORDER BY wc_timestamp DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionDetails]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetSessionDetails]
    @ProductionId INT,
    @Machine NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT * 
    FROM production_session 
    WHERE production_id = @ProductionId 
    AND machine = @Machine;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSessionStats]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetSessionStats]
    @ProductionId INT,
    @Machine NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        COUNT(*) as total_readings,
        SUM(CASE WHEN status = 1 THEN 1 ELSE 0 END) as pass_count,
        SUM(CASE WHEN status = 0 THEN 1 ELSE 0 END) as under_count,
        SUM(CASE WHEN status = 2 THEN 1 ELSE 0 END) as over_count,
        MIN(weight) as min_weight,
        MAX(weight) as max_weight,
        AVG(CAST(weight as float)) as avg_weight
    FROM main_logging 
    WHERE production_id = @ProductionId 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTotalSessions]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetTotalSessions]
    @Machine NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT COUNT(*) 
    FROM production_session 
    WHERE machine = @Machine;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertLogEntry]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertLogEntry]
    @LogId INT,
    @ProductionId INT,
    @Timestamp DATETIME,
    @Weight INT,
    @Status INT,
    @MetalStatus INT = NULL,
    @MetalValue INT = NULL  -- New parameter for metal detector value
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO main_logging (log_id, production_id, wc_timestamp, weight, status, metal_status, metal_value)
    VALUES (@LogId, @ProductionId, @Timestamp, @Weight, @Status, @MetalStatus, @MetalValue);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUpdateProductionSession]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 7. Insert or Update Production Session
CREATE PROCEDURE [dbo].[sp_InsertUpdateProductionSession]
    @ProductionId INT,
    @Shift NVARCHAR(10),
    @LotNo NVARCHAR(50),
    @Product NVARCHAR(100),
    @Buyer NVARCHAR(100),
    @Contract NVARCHAR(50),
    @Tank NVARCHAR(50),
    @BagSupplier NVARCHAR(100),
    @BagWeight FLOAT,
    @BagBatchNo NVARCHAR(50),
    @NetWeight INT,
    @TypeOfPacking NVARCHAR(20),
    @QuantityPerBag INT,
    @OverLimit INT,
    @UnderLimit INT,
    @CreateDate DATETIME,
    @CreateByUser NVARCHAR(10),
    @Machine NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    IF EXISTS (SELECT 1 FROM production_session WHERE production_id = @ProductionId AND lot_no = @LotNo AND machine = @Machine)
    BEGIN
        UPDATE production_session SET
            shift = @Shift,
            product = @Product,
            buyer = @Buyer,
            contract = @Contract,
            tank = @Tank,
            bag_supplier = @BagSupplier,
            bag_weight = @BagWeight,
            bag_batch_no = @BagBatchNo,
            net_weight = @NetWeight,
            type_of_packing = @TypeOfPacking,
            quantity_per_bag = @QuantityPerBag,
            over_limit = @OverLimit,
            under_limit = @UnderLimit,
            create_date = @CreateDate,
            create_by_user = @CreateByUser,
            machine = @Machine
        WHERE production_id = @ProductionId AND lot_no = @LotNo AND machine = @Machine;
    END
    ELSE
    BEGIN
        INSERT INTO production_session (
            production_id, shift, lot_no, product, buyer, contract, tank,
            bag_supplier, bag_weight, bag_batch_no, net_weight, type_of_packing,
            quantity_per_bag, over_limit, under_limit, create_date, create_by_user, machine
        ) VALUES (
            @ProductionId, @Shift, @LotNo, @Product, @Buyer, @Contract, @Tank,
            @BagSupplier, @BagWeight, @BagBatchNo, @NetWeight, @TypeOfPacking,
            @QuantityPerBag, @OverLimit, @UnderLimit, @CreateDate, @CreateByUser, @Machine
        );
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_VerifyUser]    Script Date: 12/02/2026 04:41:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. User Verification
CREATE PROCEDURE [dbo].[sp_VerifyUser]
    @Username NVARCHAR(50),
    @Password NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT username FROM users WHERE username = @Username AND password = @Password;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Raw value from metal detector (first numeric value in the data stream)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'main_logging', @level2type=N'COLUMN',@level2name=N'metal_value'
GO
USE [master]
GO
